*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
maxmind/*.dat
maxmind/old
addr
DNS-Balance/addr
.svn
*/.svn


# YARD artifacts
.yardoc
_yardoc
doc/
